{% extends "base.html.twig" %}

{% block body %}
	<h1>Draw from deck</h1>
    <h3>Drawn cards</h3>
	<ol>
		{% for card in hand %}
			<li>{{ card }}</li>
		{% endfor %}
	</ol>
    <h3>Deck</h3>
    <p>Decksize: {{ deck_size }}</p>
	<ol>
		{% for card in deck %}
			<li>{{ card }}</li>
		{% endfor %}
	</ol>
{% endblock %}
