{% extends "base.html.twig" %}

{% block body %}
	<h1>Draw from deck</h1>
    <h3>Drawn cards</h3>
	<ul>
		{% for card in hand %}
			<li>{{ card }}</li>
		{% endfor %}
	</ul>
    <h3>Deck</h3>
    <p>Decksize: {{ num_cards }}</p>
	<ul>
		{% for card in deck %}
			<li>{{ card }}</li>
		{% endfor %}
	</ul>
{% endblock %}
