{% extends "base.html.twig" %}


{% block title %}Card Game
{% endblock %}

{% block body %}
	<div class="card">
		<h1>Card game</h1>

		<p>Different links:</p>
		<ul>
			<li>Deck</li>
			<li>Shuffle</li>
			<li>Draw</li>
		</ul>
	</div>
{% endblock %}
