{% block stylesheets %}
	{{ encore_entry_link_tags('global') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
{% block main %}
	<h1>Hand test</h1>
	{% autoescape false %}
		{% for card in hand %}
			{{card}}
		{% endfor %}
	{% endautoescape %}
{% endblock %}
