{% extends "base.html.twig" %}

{% block title %}Om
{% endblock %}

{% block body %}
	<h1>MVC</h1>
	<h2>Model-View-Controller</h2>
	<div class="col2">
		<div class="about left">
			<p>
				Kursen Objektorienterade webbteknologier, a.k.a. mvc,
				fokuserar på objektorienterade programmeringstekniker i
				programmeringsspråket PHP. Klassiska objektorienterade
				konstruktioner hanteras tillsammans med objektorienterad
				programmering i webbaserat ramverk tillsammans med databaser
				samt enhetstestning.
			</p>
			<img src="{{ asset("img/php-mvc.png")}}">
		</div>
		<aside class="aside right">
			<p>
				<a href="https://dbwebb.se/kurser/mvc-v2">Kursens webbsida</a>
			</p>
			<p>
				<a href="https://github.com/jgottlander/mvc">Mitt GitHub-repo</a>
			</p>
		</aside>
	</div>
{% endblock %}
