{% extends "base.html.twig" %}

{% block title %}API
{% endblock %}

{% block body %}
	<h1>API</h1>
	<h3>Available API:s</h3>
	<p>/api/quote:</p>
	<form method="get" action="">
		<input type="submit" name="quote" value="quote" onclick="this.form.action='{{ path('api_quote') }}';">
	</form>

	<p>/api/deck:</p>
	<form method="get" action="">
		<input type="submit" name="deck" value="deck" onclick="this.form.action='{{ path('api_deck') }}';">
	</form>
	
	<p>/api/deck/shuffle:</p>
	<form method="post" action="">
		<input type="submit" name="shuffle" value="Shuffle" onclick="this.form.action='{{ path('api_deck_shuffle') }}';">
	</form>
{% endblock %}
