{% extends "base.html.twig" %}

{% block title %}Hem
{% endblock %}

{% block body %}
	<h1>Josef Gottlander</h1>
	<div class="home-content">
		<div>
			<p>Mitt namn är Josef Gottlander. Född i Uppsala och uppvuxen på Gotland.</p>
			<p>Har alltid haft musik som intresse, spelade fiol som 3-4-åring, började spela piano som 9-åring. Och nu efter många års studier är jag frilansande operasångare.</p>
			<p>Allt sedan jag satte mig framför en dator har jag alltid haft intresse av datorer med allt var det innebär. Spela spel, göra musik, programmera, Linux.</p>
			<p>Har varit igenom en del programmeringsspråk genom åren men aldrig kommer speciellt djupt i något av dem. Det började med QuickBasic, senare C/C++, Java med Androidprogrammering, python, och senast JavaScript.</p>
			<p>Ser fram emot att lära mig mer än att bara skriva Hello World-program.</p>
			<p>Övriga intressen är musik och opera såklart, men också träning, umgås med flickvän och familj, titta på film/serier och laga mat.</p>
		</div>
		<img class="josef" src="{{asset("img/josef.jpg")}}">
	</div>
{% endblock %}
