{% extends "base.html.twig" %}

{% block title %}Stort책n
{% endblock %}

{% block body %}
	<div class="lucky">
		<h1>Du kommer att sl책 i storst책n
			{{ number }}
			g책nger idag!</h1>
	</div>
{% endblock %}
